body {
    width: 99%;
    height: 600px;
    border: 1px dashed green;
}   

.navBar {
    width: 100%;
    height: 70px;
    border: 1px solid red;
}

.dropdown {
    display: flex;
    justify-content: right;
    margin-right: 20px;
    align-items: center;
    height: 100%;
}

.dropdown button{
    height: 40px;
}

.bigCont {
    width: 100%;
    display: grid;
    grid-template: 1fr / 50% 50% ;
    height: 100%;
    border: 1px solid red;
}

#eventCont {
    grid-row: 1;
    grid-column: 1;
    display: grid;
    grid-template: 10% 90%/1fr;
    height: 100%;
    justify-items: center;
    text-align: center;
}

#eventTitle {
    display: flex;
    justify-self: center;
    align-items: center;
}

.eventosCont {
    grid-row: 2;
}

#tareaCont {
    grid-row: 1;
    grid-column: 2;
    border: 1px dashed rgb(31, 216, 3);
    display: grid;
    grid-template: 10% 90%/1fr;
    height: 100%;
    justify-items: center;
    text-align: center;
}

#taskTitle {
    display: flex;
    justify-self: center;
    align-items: center;
}

#tareasCont {
    grid-row: 2;
}
